{
  "plugins": [
    "transform-class-properties",
    "react-require",
    "styled-jsx/babel",
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
  ],
  "presets": [
    "@babel/env",
    "@babel/react"
  ]
}
